@font-face {
    font-family: "QD Better Comic Sans";
    src: url("assets/QD Better Comic Sans.ttf");
}

body {
    font-family: "Comic Sans MS", "Comic Sans", "QD Better Comic Sans", Arial, "sans-serif";
    font-size: 20px;
    background-color: skyblue;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 34px;
}